# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store


vsxmake2022
.vscode
cmake-build-debug
cmake-build-debugvs
.idea
Makefile
CMakeLists.txt
compile_commands.json

# too large 
assets/models/bistro/
assets/models/bistrogodot